In [2]:
import pandas as pd

train_df = pd.read_csv("train.csv")
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:

train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [4]:
# Filling missing 'Age' values with the mean
train_df['Age'] = train_df['Age'].fillna(train_df['Age'].mean())

# Filling missing 'Embarked' values with the most common value
train_df['Embarked'] = train_df['Embarked'].fillna(train_df['Embarked'].mode()[0])

# fill in all the cabin data with N if its missing cabin data is sparse
train_df['Cabin'] = train_df['Cabin'].fillna('N').map(lambda x: x[0])

# drop unecessary columns
train_df.drop(columns=['Name', 'Ticket'], inplace=True)

# Convert 'Sex' to numerical values
train_df['Sex'] = train_df['Sex'].map({'male': 0, 'female': 1})

# One-hot encode 'Embarked' I dont want to add another column
#train_df = pd.get_dummies(train_df, columns=['Embarked'], drop_first=True)

# Label encode 'Embarked'
embarked_mapping = {'S': 0, 'C': 1, 'Q': 2}
train_df['Embarked'] = train_df['Embarked'].map(embarked_mapping)

# Map 'Cabin' to numerical values
cabin_mapping = {'N': 0, 'C': 1, 'E': 2, 'G': 3, 'D': 4, 'A': 5, 'B': 6, 'F': 7, 'T': 8}
train_df['Cabin'] = train_df['Cabin'].map(cabin_mapping)

train_df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,0,22.0,1,0,7.2500,0,0
1,2,1,1,1,38.0,1,0,71.2833,1,1
2,3,1,3,1,26.0,0,0,7.9250,0,0
3,4,1,1,1,35.0,1,0,53.1000,1,0
4,5,0,3,0,35.0,0,0,8.0500,0,0

In [11]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader, TensorDataset
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Define features and target variable
X = train_df.drop(columns=['Survived']).values  # Features
y = train_df['Survived'].values  # Target (Survived)

# Split into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


# Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)


# Convert to PyTorch tensors
X_train_tensor = torch.tensor(X_train, dtype=torch.float32)
y_train_tensor = torch.tensor(y_train, dtype=torch.float32).view(-1, 1)
X_test_tensor = torch.tensor(X_test, dtype=torch.float32)
y_test_tensor = torch.tensor(y_test, dtype=torch.float32).view(-1, 1)

# Create data loaders
train_data = TensorDataset(X_train_tensor, y_train_tensor)
test_data = TensorDataset(X_test_tensor, y_test_tensor)
train_loader = DataLoader(train_data, batch_size=32, shuffle=True)
test_loader = DataLoader(test_data, batch_size=32)

In [12]:

class TitanicNN(nn.Module):
    def __init__(self):
        super(TitanicNN, self).__init__()
        self.fc1 = nn.Linear(X_train.shape[1], 64)  # Input layer to hidden layer
        self.fc2 = nn.Linear(64, 32)  # Hidden layer to another hidden layer
        self.fc3 = nn.Linear(32, 1)  # Output layer (1 output for binary classification)
        self.relu = nn.ReLU()
        self.sigmoid = nn.Sigmoid()

    def forward(self, x):
        x = self.relu(self.fc1(x))
        x = self.relu(self.fc2(x))
        x = self.sigmoid(self.fc3(x))
        return x

model = TitanicNN()

# Binary cross-entropy loss for binary classification
criterion = nn.BCELoss()

# Adam optimizer
optimizer = optim.Adam(model.parameters(), lr=0.001)

In [13]:
model = TitanicNN()

# Binary cross-entropy loss for binary classification
criterion = nn.BCELoss()

# Adam optimizer
optimizer = optim.Adam(model.parameters(), lr=0.001)

In [14]:
num_epochs = 50
for epoch in range(num_epochs):
    model.train()
    running_loss = 0.0
    for data, targets in train_loader:
        # Forward pass
        outputs = model(data)
        loss = criterion(outputs, targets)

        # Backward pass and optimization
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

        running_loss += loss.item()

    print(f'Epoch [{epoch+1}/{num_epochs}], Loss: {running_loss/len(train_loader):.4f}')

Epoch [1/50], Loss: 0.6490
Epoch [2/50], Loss: 0.5794
Epoch [3/50], Loss: 0.5081
Epoch [4/50], Loss: 0.4570
Epoch [5/50], Loss: 0.4422
Epoch [6/50], Loss: 0.4242
Epoch [7/50], Loss: 0.4145
Epoch [8/50], Loss: 0.4161
Epoch [9/50], Loss: 0.4043
Epoch [10/50], Loss: 0.4033
Epoch [11/50], Loss: 0.4069
Epoch [12/50], Loss: 0.4016
Epoch [13/50], Loss: 0.4056
Epoch [14/50], Loss: 0.3929
Epoch [15/50], Loss: 0.3905
Epoch [16/50], Loss: 0.3802
Epoch [17/50], Loss: 0.3785
Epoch [18/50], Loss: 0.3874
Epoch [19/50], Loss: 0.3757
Epoch [20/50], Loss: 0.3842
Epoch [21/50], Loss: 0.3713
Epoch [22/50], Loss: 0.3723
Epoch [23/50], Loss: 0.3755
Epoch [24/50], Loss: 0.3655
Epoch [25/50], Loss: 0.3748
Epoch [26/50], Loss: 0.3682
Epoch [27/50], Loss: 0.3567
Epoch [28/50], Loss: 0.3836
Epoch [29/50], Loss: 0.3651
Epoch [30/50], Loss: 0.3745
Epoch [31/50], Loss: 0.3600
Epoch [32/50], Loss: 0.3646
Epoch [33/50], Loss: 0.3646
Epoch [34/50], Loss: 0.3513
Epoch [35/50], Loss: 0.3670
Epoch [36/50], Loss: 0.3514
Epoch [37/50], Loss: 0.3485
Epoch [38/50], Loss: 0.3566
Epoch [39/50], Loss: 0.3446
Epoch [40/50], Loss: 0.3513
Epoch [41/50], Loss: 0.3408
Epoch [42/50], Loss: 0.3510
Epoch [43/50], Loss: 0.3572
Epoch [44/50], Loss: 0.3478
Epoch [45/50], Loss: 0.3472
Epoch [46/50], Loss: 0.3419
Epoch [47/50], Loss: 0.3454
Epoch [48/50], Loss: 0.3572
Epoch [49/50], Loss: 0.3427
Epoch [50/50], Loss: 0.3439

In [15]:
model.eval()
with torch.no_grad():
    correct = 0
    total = 0
    for data, targets in test_loader:
        outputs = model(data)
        predicted = (outputs > 0.5).float()  # Convert probabilities to binary output (0 or 1)
        total += targets.size(0)
        correct += (predicted == targets).sum().item()

print(f'Accuracy: {100 * correct / total:.2f}%')

Accuracy: 81.56%